body {
  margin: 0;
  background: #eee;
  font: 12px sans-serif;
  color: #4b4b4b;
}

a {
  color: #4b4b4b;
  text-decoration: none;
}

#wrapper {
  background: #fff;
  width: 1094px;
  margin-left: auto;
  margin-right: auto;
}

#header .left {
  width: 327px;
  height: 160px;
  float: left;
}

#header .right {
  width: 700px;
  float: left;
  text-align: right;
  padding-top: 44px;
}

#header .right a {
  margin-left: 5px;
}

#header #logo {
  display: block;
  margin-left: 68px;
  margin-top: 44px;
}

#banner-tall, #banner-short {
  clear: both;
  width: 1094px;
}

#banner-tall {
  height: 254px;
  background-image: url('/images/banner-tall.png');
}

#banner-short {
  height: 60px;
  background-image: url('/images/banner-short.png');
}

#banner-switcher {
  display: inline-block;
  margin-left: 67px;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
}

#banner-switcher a {
  color: #7c7c7c;
}

#content {
  margin-top: 45px;
}

#content .left {
  clear: both;
  float: left;
  margin-left: 67px;
  margin-bottom: 40px;
  width: 260px;
}

#content .left ul {
  display: inline;
}

#content .right {
  float: left;
  margin-left: 56px;
  margin-bottom: 40px;
  width: 645px;
}

#content .full {
  clear: both;
  width: 960px;
  margin: 0 0 45px 67px;
}

#content .full h1 {
  margin: 0;
  font-weight: normal;
}

#content .right img {
  float: left;
  margin-bottom: 5px;
}

#content h1 {
  margin-top: 0;
  font-size: 26px;
}

#content h3 {
  margin-top: 0;
}

#footer {
  clear: both;
  margin-left: 67px;
  height: 50px;
}

/* ----------------- */

.uc {
  text-transform: uppercase;
}

.green-button {
  display: block;
  width: 166px;
  height: 27px;
  background: url('/images/green-button.png');
  margin-bottom: 5px;
  color: #fff;
}

.green-button span {
  font-size: 12px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 7px;
}

.green-button-centered {
  text-align: center;
}

.green-button-centered span {
  margin-left: 0;
}