<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Monda:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/allmet.css">
    </head>
    <body>

      <div id="wrapper">
        <div id="header">
          <div class="left"><a href="/{{page.language}}/" id="logo"><img src="/images/allmet-trading.png" width="240" height="78" alt="Logo"></a></div>
          <div class="right"><a href="mailto:allmettrading@gmail.com"><img src="/images/contact.png" width="18" height="11" alt="Contact"/> Contact</a>{% if page.english_link %} <a href="/en/{{page.english_link}}/"><img src="/images/flag-en.png" width="22" height="11" alt="English"/> English</a>{% endif %}{% if page.romanian_link %} <a href="/ro/{{page.romanian_link}}/"><img src="/images/flag-ro.png" width="17" height="11" alt="Romana"/> Romana</a>{% endif %}</div>
        </div>
        <div id="banner-short">
          <div id="banner-switcher">{{page.switcher}}</div>
        </div>
        <div id="content">
          {{ content }}
        </div>
        <div id="footer">
          &copy; ALLMET Trading LTD. All Rights Reserved
        </div>
      </div>
    </body>
</html>
